/*DEFAULT*/
.H1Default {
    font-size: 60px;
}
.UTN_img {
    width: auto;
    height: 400px;
}
.DivImgDefault {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
/*SORTEO*/
.H1Sorteo {
    font-size: 60px;
}
/*PREMIOS*/
.H1Premios {
    font-size: 60px;
}
.boton-premio {
    background-color: #007BFF;
    color: white; 
    padding: 10px 20px;
    border: 2px solid #007BFF;
    font-size: 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: inline-block;
    text-align: center;
    margin-left: 600px;
    margin-top: 5%;
}
/*DATOS*/
.H1CargaDeDatos{
    font-size: 60px;
}
.TxtDatos {
    display: flex; /* Utiliza flexbox para alinear los elementos */
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    margin-top: 20px; /* Espacio superior para separar del encabezado */
}

/*.carousel-item img {
    width: 50px;
    height: 50px;
}
.carrousel {
    width: 50px;
    height:50px;
}
*/
/*CARGA DE DATOS*/
.DivAgregar {
    margin-top: 20px;
}
.carousel-img {
    max-width: 300px;
    height: 400px;
    object-fit: contain;
}